{% extends "movies/base.html" %}

{% load humanize %}
{% load movie_extras %}


{% block content %}
<div class="card mb-3">
    {% if object.cover %}
    <img src="{{object.cover.url}}" class="card-img-top" alt="обложка фильма" style="max-width: 200px;">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ object.title }} ({{ object.year }})</h5>
      {% get_movie_rating_percent as movie_rating_percent%}
      <div class="progress" role="progressbar"  aria-valuenow="{{ movie_rating_percent }}" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: {{ movie_rating_percent }}%">Кинорейтинг: {{ object.get_rating_display }}</div>
      </div>
      <p class="card-text fw-light mt-3">{{ object.genre.all|join:", " }}</p>
      <p class="card-text">{{ object.description }}</p>
      <p class="card-text"><small class="text-body-secondary">Обновлено {{ object.updated_at|naturaltime }}</small></p>
    </div> 
</div>
{% endblock %}